.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

h1, h2 {
  font-family: DM Serif Display;
  font-weight: bold;
  color: #fb6f92;
}

h2 {
  font-size: 30px;
}
p {
  font-family: Poppins;
}

.Purpose {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  margin-top: 15px;
  margin-bottom: 50px;

}

.box {
  text-align: center;
  width: 30%;
  padding: 15px;
}

#anonymous, #medical-prof {
  background-color: #ffe5ec;
  outline: #ffff solid 5px;
}

.blank1 {
  width: 250px;


}

.App-header {
  background-color: #ffe5ec ;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* padding is inside element, margins is outside */
.tagline{
  color:rgb(220, 87, 87);
  padding: 5%; 
}

.pfp_pic{
  width: 200px;
}

.anon-icon, .US-icon, .doctor-icon {
  width: 50px;
}

.About-Us {
  margin-left: 50px;
  margin-right: 50px;
  
  display: flex;
  flex-direction: row; /* Place text and image side by side */
  justify-content: space-between; /* Space between the text and image */
  gap: 20px; /* Add space between the text and image */
}

.about-image {
  width: 40%;  /* Adjust width as needed */
}

.navbar{
  background-color: white;
  height: 50px;
  display: flex;
  .myLogo{
    max-height: 10vh;
  }
  .myLogo:hover{
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

