/* Overall container for the clinic page */
.clinic-container {
    text-align: center;
    padding: 20px;
    font-family: Arial, sans-serif;
    display: flex; 
    flex-direction: column; 
    height: 100vh; 
    justify-content: space-between; 
    border-radius: 50px;
}

/* Header styling */
.clinic-container h1 {
    color: #333;
    font-size: 2.5em;
    margin-bottom: 20px;
}

/* Buttons container */
.button-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin: 20px 0 200px 0; 
}

/* Button styling */
/* Button styling */
.button {
    background-color: #ffc2d1; /* Lighter pink button */
    border: none;
    padding: 15px 40px; /* Adjust padding for wider button */
    font-size: 1.2em;
    color: rgb(20, 7, 8); /* Dark text for contrast */
    cursor: pointer;
    border-radius: 50px; /* Make button fully rounded */
    margin: 10px;
    transition: background-color 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 200px; /* Set a minimum width to maintain shape */
}

/* Hover effect for buttons */
.button:hover {
    background-color: #ff9aa7; /* Slightly darker pink */
}


/* Clinic info container */
.clinic-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px; 
    padding: 20px;
    background-color: #ffe0e9;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 60%;
    margin: 0 auto;
}

/* Clinic information style */
.clinic-info div {
    font-size: 1.1em;
    color: #555;
    margin: 8px 0;
}

/* Link to visit website */
.clinic-info .website-link {
    color: #1e1b1c;
    font-size: 1.2em;
    text-decoration: none;
    margin-top: 80px;
}

.clinic-info .website-link:hover {
    color: #bd8e9e;
}

.clinic_title{
    font-family: DM Serif Display;
    font-weight: bold;
    color: #fb6f92;
    text-align: center;
    font-size: calc(20px + 4vmin);

    
}

/* Search bar container */
.search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

/* Search bar styling */
.search-bar {
    padding: 15px;
    font-size: 1.5em; /* Larger text size */
    width: 400px; /* Increase width */
    border-radius: 30px; /* Make the search bar rounder */
    border: 1px solid #ccc;
    margin-right: 15px;
    outline: none; /* Remove default focus outline */
    transition: box-shadow 0.3s ease;
}

/* Add a focus effect */
.search-bar:focus {
    box-shadow: 0 0 10px rgba(255, 105, 180, 0.7); /* Light pink shadow */
}

/* Search button styling */
.search-button {
    background-color: #ffe0e9;
    border: none;
    padding: 15px 30px;
    font-size: 1.2em;
    color: rgb(20, 7, 13);
    cursor: pointer;
    border-radius: 25px; /* Make button rounder */
   
}
