/* Overall container for the clinic page */
.clinic-container {
    text-align: center;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  /* Header styling */
  .clinic-container h1 {
    color: #333;
    font-size: 2.5em;
    margin-bottom: 20px;
  }
  
  .clinic-container div {
    margin-bottom: 10px;
  }
  
  /* Buttons container */
  .button-container {
    margin: 20px 0;
  }
  
  /* Button styling */
  .button {
    background-color: #ffe0e9;
    border: none;
    padding: 15px 30px;
    font-size: 1.2em;
    color: rgb(20, 7, 8);
    cursor: pointer;
    border-radius: 5px;
    margin: 10px;
    transition: background-color 0.3s ease;
  }
  
  /* Hover effect for buttons */
  .button:hover {
    background-color: #ffc0d0;
  }
  
  /* Clinic info container */
  .clinic-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    padding: 20px;
    background-color: #ffdde2;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 60%;
    margin: 0 auto;
  }
  
  /* Clinic information style */
  .clinic-info div {
    font-size: 1.1em;
    color: #555;
    margin: 8px 0;
  }
  
  /* Link to visit website */
  .clinic-info .website-link {
    color: #1e1b1c;
    font-size: 1.2em;
    text-decoration: none;
    margin-top: 10px;
  }
  
  .clinic-info .website-link:hover {
    color: #bd8e9e;
  }
  